{% extends 'base.html' %}

{% block main %}


{% include 'flash_messages.html' %}

<form method="post" enctype="multipart/form-data" style="width:50%;margin: auto;">
  <h1 class="page-header">File Upload</h1>
  <div class="form-group mb-3">
      <label for="propertyTitle">Property Title</label>
      <input type="text" class="form-control" id="propertyTitle" name="title" required>
  </div>
  <div class="form-group mb-3">
      <label for="description">Description</label>
      <textarea class="form-control" id="description" name="description" rows="3" required></textarea>
  </div>
  <div class="row">
      <div class="form-group col-md-6  mb-3">
          <label for="numRooms">No. of Rooms</label>
          <input type="number" class="form-control" id="numRooms" name="num_rooms" required>
      </div>
      <div class="form-group col-md-6  mb-3">
          <label for="numBathrooms">No. of Bathrooms</label>
          <input type="number" class="form-control" id="numBathrooms" name="num_bathrooms" required>
      </div>
  </div>
  <div class="form-group  mb-3">
      <label for="price">Price</label>
      <input type="text" class="form-control" id="price" name="price" required>
  </div>
  <div class="form-group  mb-3">
      <label for="propertyType">Property Type</label>
      <select class="form-control" id="propertyType" name="type" required>
          <option value="">Please select</option>
          <option value="house">House</option>
          <option value="apartment">Apartment</option>
          <!-- Add more property types as options here -->
      </select>
  </div>
  <div class="form-group mb-3">
      <label for="location">Location</label>
      <input type="text" class="form-control" id="location" name="location" required>
  </div> 
  <div class="custom-file mb-3">
    <input type="file" class="custom-file-input" id="photo" name="photo" accept="image/*" required>
  </div>
  
  <button type="submit" class="btn btn-primary">Add Property</button>
</form>

{% endblock %}